.modal {
  height: 55%;
  width: 100%;
  background-color: #fffbd3;
  /* border: 0.5rem solid #feeea4; */
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 0px 5px 3px #f7c629;
}

/* .modal_wrapper {
  height: 100%;
  background-image: url(../../public/bees_hive_transparent.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  opacity: 50%;
} */

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close_button {
  font-size: 2rem;
  background: none;
  border: none;
}

.button_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 0.75rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button_flex.active {
  box-shadow: inset 0 0 0 2px #f7c629;
  border-radius: 0.75rem;
  font-weight: 800;
}

.button_flex.active img {
  transform: scale(1.05);
}

.button_container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.modal .button_container button {
  padding: 0.5rem;
  font-family: "Nunito", sans-serif;
  flex-grow: 1;
}
.modal select,
input {
  font-family: "Nunito", sans-serif;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

label,
p {
  font-size: 0.9rem;
}

input,
select {
  height: 2rem;
  padding-left: 0.3rem;
}

.save_button {
  margin-top: auto;
  margin-bottom: 1rem;
  font-family: "Nunito", sans-serif;
  padding: 0.9rem;
  font-size: 1rem;
  width: 100%;
  background-color: #f7c629;
  border: none;
  letter-spacing: 0.1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 2rem;
  box-shadow: -5px 4px 5px 1px rgba(204, 160, 7, 0.75);
  font-weight: 700;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.save_button:active {
  transform: translateY(2px);
}

.save_button:hover {
  font-weight: 800;
}

/* .bee_image {
  position: absolute;
  top: 4px;
  right: 60px;
} */
