.card_container {
  background-color: #feeea4;
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  column-gap: 1rem;
  row-gap: 0.5rem;
  grid-template-columns: 2rem auto;
}

.heading_container {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.1rem;
  grid-column: 2/3;
}

.category_text {
  font-size: 0.8rem;
  text-transform: uppercase;
  grid-column: 2/3;
}

.priority_container {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.delete_button {
  border-radius: 50%;
  height: 1.4rem;
  width: 1.4rem;
  font-size: 0.8rem;
  border: 0.5px solid black;
  background-color: #f7c629;
}
