.app_mobile_container {
  width: 390px; /* or 375px */
  margin: 0 auto; /* center on desktop */
  min-height: 100vh; /* full height */
  border: 1px solid #ddd; /* optional, helps visualize the frame */
  background: #fffbd3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
